.wrapper {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.title {
    font-size: 24px;
    color: rgb(179, 179, 179);   
    margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;

}

.selector {
  width: 50%;
  margin-bottom: 15px;
}
.selectorLabel {
    font-weight: 700;
}

.button {
  width: 100%;
  color: #fff;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  display: block;
  margin: 15px;
  font-size: 18px;
  font-weight: 700;
}

h3 {
    color: rgb(128, 128, 128);
    opacity: 0.8;
    
}
